// Utilisation selecteur parents pour éviter une saisie suplémentaire
.collapse {
    display: flex; flex-direction: column;
    border-radius: $br-small;
    margin-top: 25px;
  

    &-title { // conteneur de titre
      display: flex; justify-content: space-between;
      align-items: $align;
      width: 100%;
      height: 50px;
      background: $primary-background;
      border-radius: $br-small;
      color: $text-color-1;
      font: {
        family: $font-family-primary;
        weight: $font-weight-secondary;
        size: $size-2;
      }
  
      p { // Titre
        padding-left: 15px;
        font: {
          family: $font-family-primary;
          weight: $font-weight-secondary;
          size: $size-3;
        }
      }
    }
  

    &-icon { // Flèche de collapse
      padding-right: 15px;
    }
  

    &-content { // Contenu de la collapse
      display: flex;
      align-items: $align;
      padding-left: 15px;
      color: $text-color-2;
      font: {
        family: $font-family-primary;
        weight: $font-weight-tertiary;
        size: $size-3;
      }
    }


    // Version mobile 
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    &-title {
      height: 30px;
      p {
        font-size: 13px;
      }
    }

    &-icon {
      width: 16px;
    }

    &-content {
      font-size: 12px;
    }
  }
}