.host { //selector parent
    display: flex; flex-direction: row;
    gap: 10px;
    margin: $no-margin;
    width: 167px;
    height: 64px;
  
    &-name { // Utilisation de & pour sélecteur parent
      color: $text-theme-color;
      font-family: $font-family-primary;
      font-weight: $font-weight-primary;
      font-size: $size-3;
      display: flex;
      align-items: $align;
      text-align: right;
      width: 93px;
      margin: $no-margin;
    }
  
    &-picture {
      display: flex;
      width: 64px; height: 64px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

