.rating { // Conteneur des étoiles
    @include flex-row;
    width: fit-content;

    @media screen and (max-width: 768px) {
      gap: 4px;
    }
  }
  
  // Mixin star-common pour les styles partagés entre les deux types d'étoiles
  .star-full {
    color: $text-theme-color;
    @include star-common;

    @media screen and (max-width: 768px) {
      @include star-mobile-common;
    }
  }
  
  .star-empty {
    color: #E3E3E3;
    @include star-common;

    @media screen and (max-width: 768px) {
      @include star-mobile-common;
    }
  }
