.rating { // Conteneur des étoiles
    display: flex; flex-direction: row;
    width: fit-content;
  }
  
  // Mixin star-common pour les styles partagés entre les deux types d'étoiles
  .star-full {
    color: $text-theme-color;
    @include star-common;
  }
  
  .star-empty {
    color: #E3E3E3;
    @include star-common;
  }
