.tag-container {
    display: flex; flex-direction: row; justify-content: flex-start;
    align-items: center; //

    width: 582px;
    gap: 20px;
    margin-top: 20px;
}

.tag {
    display: flex; justify-content: center;
    align-items: center; //

    font-family: $font-family-primary;
    font-weight: $font-weight-secondary;
    font-size: $size-4;
    line-height: 19.96px;
    background: $primary-background;
    color : $text-color-1;
    border-radius: $br-medium;

    width: fit-content; height: 25px;
    padding-left: 15px; padding-right: 15px;
}