// Conteneur de tags
.tag-container {
  display: flex; flex-direction: row; justify-content: flex-start;
  align-items: $align;
  width: 582px;
  gap: 20px;
  margin-top: 20px;
}

// Utilisation Nesting des propriétés
.tag {
  display: flex; justify-content: center;
  align-items: $align;
  border-radius: $br-medium;
  width: fit-content;
  height: 25px;
  line-height: 19.96px;
  background: $primary-background;
  color: $text-color-1;

  font: { //style de police
    family: $font-family-primary;
    weight: $font-weight-secondary;
    size: $size-4;
  }
  padding: { //remplissage
    left: 15px; 
    right: 15px;
  }
}