.logement-details-location {
    display: flex;
    flex-direction: column;
}

.logement-details-host {
    display: flex;
    flex-direction: row;
}

.logement-details {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
}

.title-logement {
    color : #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin: 0px;
}

.location {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

// collapse
.collapse-logement {
    display: flex;
    flex-direction: row;
    padding-right: 7%;
}

.collapse-logement .collapse-title {
    width: 582px;
}

//host & rating
.logement-details-host {
    display: flex;
    flex-direction: column;
}