.logement-details {
    display: flex; justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
} 

//conteneur location & tags
.logement-details-location {
    display: flex; flex-direction: column;
}
.title-logement {
    color : $text-theme-color;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    font-size: $size-1;
    margin: 0px; //
}
.location {
    color: $text-color-2;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    font-size: $size-3;
    margin: 0px; //
}

//conteneur host & rating
.logement-details-host {
    display: flex; flex-direction: column; justify-content: space-around;
    align-items: center;   
}

//conteneur collapse equipements & description
.collapse-logement {
    display: flex; flex-direction: row; justify-content: space-between;
    margin-right: 7%;
    margin-left: 7%;
    
}
.collapse-logement .collapse-title {
    width: 582px; //
}

//contenu de la description
.collapse-description {
    width: 582px; //
}

//contenu des equipements
.collapse-equipements {
    width: 582px; //
}

//contenu des equipements
.collapse-content ul {
    display: flex; flex-direction: column; justify-content: flex-start;
    list-style: none;
    width: 582px; //
    margin: 0px; //
    padding-left: 15px;
}



