.star-full {
    color: #FF6060;
    width: 36px;
    font-size: larger;
}

.star-empty {
    color: #E3E3E3;
    width: 36px;
    font-size: larger;
}

.rating {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
