// Utilisation Nesting
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: {
      right: 7%;
      left: 7%;
    }

    // Version mobile
    @media screen and (max-width: 768px) {
      @include flex-column;
      margin: {
        right: 10%;
        left: 1%;
      };
    }
  }