@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/globale";
// @import "./utils/placeholders";


// importation de la police 'Montserrat'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');