.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
    animation: fadeInUp 100ms ease-in-out; // Animation d'apparition
    overflow: hidden; // Empeche le redimensionnement
}

.card a {
    width: 340px;
    height: 340px;
}

.card .card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 100ms; // Transition de l'image
}

.card:hover .card_img {
    transform: scale(1.1); // Agrandir l'image de 10% au survol
}

.card .card_title {
    position: absolute;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    max-width: 300px;
    height: 50px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
