.collapse {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50px;
    background:#FF6060;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 7%;
    // margin-right: 7%;
    margin-top: 20px;
}

.collapse-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.collapse-title p {
    padding-left: 10px;
}

.collapse img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.collapse-content {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.collapse-content p {
    // padding-left: 10px;
    padding-bottom: 100px;
}

//contenu des equipements
.collapse-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 582px;
    margin: 0px;
}


