.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    max-height: 68px;
  
    .logo_header {
      width: 210px;
    }
  
    .nav-bar {
      display: flex;
      gap: 57px;
  
      .nav_home,
      .nav_about {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        
        &:hover {
          text-decoration: underline;
          color: #FF6060;
        }
      }
    }
  }