// Mixin des étoiles
 @mixin star-common {
    width: 36px;
    font-size: larger;
  }
@mixin star-mobile-common {
  width: 18px;
  font-size: medium;
}

// Mixin dimensions de la carte 
  @mixin card-dimensions {
    width: 340px;
    height: 340px;
  }
  @mixin card-mobile-dimensions {
    width: 100%;
    height: 255px;
  }

// Mixin pour prendre tout l'espace dispo 
@mixin WH-full {
  width: 100%;
  height: 100%;
} 

// Mixin pour flexation centrer  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: $align;
    text-align: center;
  }

// Mixin pour flexation colonne  
  @mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: $align;
    flex-direction: column;
  }

// Mixin pour flexation ligne  
  @mixin flex-row {
    display: flex;
    flex-direction: row;
  }

// Mixin pour flexation espace  
  @mixin flex-space {
    display: flex;
    justify-content: space-between;
    align-items: $align;
  }

// Mixin pour flexation wrap
  @mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }  
  
// Mixin pour les liens de navigation
  @mixin nav-link {
    color: $text-color-2; 
    font: {
      family: $font-family-primary;
      weight: $font-weight-primary;
      size: $size-2;
    }
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  
    &:hover {
      color: $text-theme-color;
    }

    &.active {
      text-decoration: underline;
    }
  }