 // Mixin des étoiles
 @mixin star-common {
    width: 36px;
    font-size: larger;
  }

// Mixin de redimensionnement pour tout l'espace dispo 
@mixin WH-full {
    width: 100%;
    height: 100%;
  }