//couleurs
$primary-background: #FF6060; 
$footer-background: #000000;
$text-theme-color : #FF6060;
$text-color-1 : #FFFFFF;
$text-color-2 : #000000;

//Typographie
$font-family-primary: Montserrat, sans-serif;
$font-weight-primary: 500;
$font-weight-secondary: 700;
$font-weight-tertiary: 400;

//Tailles texte
$size-1: 36px;
$size-2: 24px;
$size-3: 18px;
$size-4: 14px;

//ombres 
$dark-shadow : 0px 4px 4px 0px #00000040;

//bordures
$br-small : 5px;
$br-medium : 10px;
$br-large : 25px;

//margins et paddings
$no-margin : 0px;
$no-padding : 0px;
