.error_content {
    display: flex; flex-direction: column; justify-content: center;
    align-items: center; //
    margin-left: 7%;
    margin-right: 7%;
}

.error_content .error_text {
    color: $text-theme-color;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    font-size: $size-1;
    display: flex; justify-content: center; //
    align-items: center; text-align: center; //
    margin-bottom: 6%;
}

.error_content .error_link_home {
    color: $text-color-2;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    font-size: $size-3;
    display: flex; justify-content: center; //
    align-items: center; text-align: center; //
}

.error_content .error_link_home:hover {
    text-decoration: underline;
    color: $text-theme-color;
}

.error_number {
    color: $text-theme-color;
    font-family: $font-family-primary;
    font-weight: $font-weight-secondary;
    font-size: 288px;
    display: flex; justify-content: center; //
    align-items: center; text-align: center; //
    margin: 0px;
}