// Utilisation de Nesting et selecteur parent pour eviter une saisie supplémentaire
// @include WH-full = Width et Height 100%

.banner {
    height: 223px;
    position: relative; 
    box-shadow: $dark-shadow;
    border-radius: $br-large;
    margin: {
      right: 7%;
      left: 7%;
      bottom: 35px;
    }
   
   
    &_img {  // image de la bannière
      @include WH-full;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: $br-large;
    }
  
    
    &_txt { // texte de la bannière
      width: 100%;
      position: absolute;
      top: 50%; left: 48%;
      transform: translate(-50%, -50%);
      display: flex; justify-content: space-evenly;
      color: $text-color-1;
      font: {
        size: clamp(42px, 1vw, 48px);
        family: $font-family-primary;
        weight: $font-weight-secondary;
      }
      margin: {
        right: 30px;
        left: 30px;
      }
    }

    
    &_dark { // Sombre de la bannière
      @include WH-full; 
      position: absolute;
      transform: translate(0%, -102%);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: $br-large;
    }


    
    // Version mobile
    @media screen and (max-width: 768px) {
      border-radius: $br-medium;
      height: 111px; 
      margin: {
        right: 5%; 
        left: 5%;
        bottom: 0px; 
      }

      &_img {
        border-radius: $br-medium;
      }
      
      &_txt {
        font-size: clamp(20px, 1vw, $size-2);
        margin: {
          right: 15px; 
          left: 15px;
        }
      } 

      &_dark {
        border-radius: $br-medium;
        transform: translate(0%, -103%);
      } 
    }
} 




