// Utilisation de Nesting et selecteur parent pour eviter une saisie supplémentaire
// @include WH-full = Width et Height 100%

.banner {
    height: 223px;
    position: relative; 
    box-shadow: $dark-shadow;
    border-radius: $br-large;
    margin: {
      right: 7%;
      left: 7%;
      bottom: 35px;
    }
   
   
    &_img {  // image de la bannière
      @include WH-full;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: $br-large;
    }
  
    
    &_txt { // texte de la bannière
      @include WH-full; 
      position: absolute;
      top: 75%; left: 48%;
      transform: translate(-50%, -50%);
      color: $text-color-1;
      font: {
        size: 48px;
        family: $font-family-primary;
        weight: $font-weight-secondary;
      }
      display: flex; justify-content: space-evenly;
      margin: 30px;
    }

    
    &_dark { // Sombre de la bannière
      @include WH-full; 
      position: absolute;
      transform: translate(0%, -102%);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: $br-large;
    }
  }