.banner {
    height: 223px;
    position: relative;
    margin-right: 7%; margin-left: 7%; margin-bottom: 35px;
    box-shadow: $dark-shadow;
    border-radius: $br-large; //
}

.banner .banner_img {
    width: 100%; height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: $br-large; //
}

.banner .banner_txt {
    position: absolute; //
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: $font-family-primary;
    font-weight: $font-weight-secondary;
    color: $text-color-1;
    width: 733px;
}

.banner .banner_dark {
    position: absolute; //
    transform: translate(0%, -102%);
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $br-large; //
}